h2 {
    text-align: left;
    font-size: 15px;
    font-family: Arial, sans-serif;
}

h3 {
    text-align: left;
    font-size: 15px;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

h4 {
    text-align: left;
    font-size: 15px;
    height: 10px;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

h5 {
    display: flex;
}
.KRS {
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;

}
.KRS button{
    margin-right: 40px;
}
.k {
    text-decoration: none;
    }
.tabel-KRS {
    width: 80vw;
    border-collapse: collapse;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.tabel-KRS th{
    color: #002855;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}
.tabel-KRS td{
    text-align: center;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
}
.tabel-KRS tr:hover{
    background-color: #f5f5f5;
}

button {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px;
    margin-left: 1px;
    background-color: #FAB12F;
}
button:hover {
    opacity: 0.6;
}
button[onclick="showDashboard()"] {
    background-color: #001F3F;
    color: white;
    margin-top: 10px;
    margin-top: 20px;
    margin-left: 20px;
}
