* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #001F3F;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('backgroundweb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 20rem;
    padding: 2rem;
    background-color: #f9f9f9;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 0.375rem;
}

.login {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-label {
    color: #4a5568;
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.form-input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    color: #4a5568;
    border: 1px solid #e2e8f0;
    border-radius: 0.375rem;
}

.form-input:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-button {
    background-color: #15415e;
    color: #ffffff;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    cursor: pointer;
}

.login-button:hover {
    background-color: #2b6cb0;
}
.login {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-label {
    color: #4a5568;
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.input-with-icon {
    position: relative;
}

.input-with-icon i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.form-input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    padding-left: 30px;
    color: #4a5568;
    border: 1px solid #e2e8f0;
    border-radius: 0.375rem;
}

.form-input:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}

.form-actions {
    display: flex;
}
.forgot-password {
    font-size: 0.875rem;
    font-weight: 700; 
    color: #4299e1;
}

.forgot-password:hover {
    color: #2b6cb0;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    cursor: pointer;
    margin-left: -30px; 
}
.show-icon, .hide-icon {
    cursor: pointer;
}

